# JetBrains / PyCharm
.idea/
*.iml
copilot.data.migration.*.xml

# Python caches & venv
__pycache__/
*.pyc
.venv/
venv/
.env/

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
/~$2022184018_게임공학과_박찬웅.pptx
